<h1><%= @theme %></h1>

<p>
  <strong>Parent:</strong>
  <%= @theme.parent_id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @theme.color %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %>

<h2>Tweets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <% @theme.tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.account, tweet.account %></td>
        <td><%= link_to tweet.text, tweet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
