<%= line_chart @theme.tweets.group_by_day(:created_at, last: 30).count, legend: false %>

<h1><%= @theme %></h1>

<%= link_to 'Edit', edit_theme_path(@theme), class: button_classes %>

<% if @theme.children.any? %>
  <h2 class="mt-5">Child themes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tweets</th>
      </tr>
    </thead>
    <tbody>
      <% @theme.children.each do |theme| %>
        <tr>
          <td><%= link_to theme, theme %></td>
          <td><%= theme.tweets.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @theme.tweets.any? %>
  <h2 class="mt-5">Tweets</h2>
  <%= render 'tweets/list', tweets: @theme.tweets %>
<% end %>
