<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Semantic Bird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <header class="text-center pt-3">
        <a href="/">
          <%= image_tag 'logo.svg', width: 300 %>
        </a>
        <ul class="nav my-4 justify-content-center">
          <li><a href="/accounts" class="nav-link px-2 link-dark">Accounts</a></li>
          <li><a href="/tweets" class="nav-link px-2 link-dark">Tweets</a></li>
          <li><a href="/themes" class="nav-link px-2 link-dark">Themes</a></li>
        </ul>
      </header>
      <main>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <%= render_breadcrumbs builder: BreadcrumbBuilder %>
          </ol>
        </nav>
        <%= render 'toastr' %>
        <%= yield %>
      </main>
      <footer class="text-muted small mt-5">
        Raven Ampersand by Kristin Burrows from the Noun Project
      </footer>
    </div>
  </body>
</html>
